<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <!-- <%내용 =%>은 ejs만의 변수 선언 문법 -->
    <h1> Welcome !! <%= email %></h1>
    <p> 정말로 반가워요 ^^ </p>
</body>

</html>